@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

/***** CUSTOM STYLES *****/

// HEADER
.logo {
  width: 70%;
}

.steph-titles {
  letter-spacing: 0.27rem;
  font-size: 58px;
}

a,
.sb-name {
  letter-spacing: 0.15rem;
}


// FOOTER
footer {
  background-color: black;
  color: white;
}
