@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

/***** CUSTOM STYLES *****/

// HEADER
.logo {
  width: 70%;
}

.steph-titles {
  letter-spacing: 0.27rem;
  font-size: 58px;
}

a,
.sb-name {
  letter-spacing: 0.15rem;
}
.sb-name {
  font-family: 'Playfair Display', serif;
}


// ABOUT
.text-default {
  color: $gray-text;
}

.profile-container {
  text-align: center;
}

.profile-pic {
  width: 100%;
}
.social-icons {
  color: $black;
}
.social-icons:hover,
.social-icons-footer:hover {
  color: $primary;
}
.social-icons-footer {
  color: $white;
}


// SKILLS
.dev-icons {
  font-size: 80px;
}


// FOOTER
footer {
  background-color: black;
  color: white;
}
