@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

/***** CUSTOM STYLES *****/

// HEADER
.logo {
  width: 70%;
}


// FOOTER
footer {
  background-color: black;
  color: white;
}
